/*This file contains basic css, common for every view. */
/* For example fonts, footer menu styles. */

html { 
    height: 100%;
}

body { 
    height: 100%; 
    margin: 0;
    padding: 0; 
}

li, a, p, h1, h2, h3, h4, h5, h6{
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif !important;
	font-weight: lighter;
}

.blue-navbar {
	background: #526e82;
	margin: 0;
	border: none;
	border-radius: 0;
}

a.logo{
	font-weight: bold;
	font-size: 28px;
	margin-top: 7px;
	color: #FFFFFF !important;
}

ul.navbar-nav li a{
	color: #EEEEEE !important;
	text-transform: uppercase;
	padding: 25px 15px 18px 15px;
}

ul.navbar-nav li.active a{
	background-color: #ff8989 !important;
	color: red;
}

.footer-section {
	background: #ccc;
	text-align: center;
	padding: 50px;
}


