#compareHeader, .darker-data-section, .lighter-data-section{
	padding: 10px 50px 10px 50px;
}

#compareHeader{
	background: #ccf5ee;
}

.data-explanation{
	padding: 10px 50px 10px 50px;
}

.chart {
	border-right: 1px dotted;
	border-color: #555555;
}

 .chart rect {
   stroke: white;
   fill: #4cd9c0;
}

h3{
	font-weight: normal;
}

h2.school-name-compare{
	font-size: 30px !important;
}

p.school-address-compare{
	font-size: 14px;
}

a.school-website-compare{
	font-size: 14px;
	color: #555555;
}

p.color-expl-tag{
	float: left;
	overflow: hidden; 
	padding: 5px 20px 5px 20px;
	margin-right: 20px;
	border-radius: 5px;
}

.lighter-data-section {
	background: #FFFFFF;
}

.darker-data-section{
	background: #ebebeb;
}

h4.chartQuestion{
	height: 60px;
	font-size: 16px;
}

p.large-number{
	color: #41c0a9;
	font-weight: bold;
	font-size: 60px;
	margin: 0;
	padding: 0;
}

p.number-description{
	color: #526e82;
	font-weight: bold;
	font-size: 20px;
	margin: -15px 0 0 0;
	padding: 0;
}