/*This file contains css specific for the  */

.map-section {
	background: #FFFFFF;
}

#map-canvas { 
	height: 400px; 
}

.filter-sidebar{
	padding: 30px 30px 30px 50px;
}

form.filter-form .form-group .my-text-input{
	padding: 20px !important;
	margin: 0 0 20px 0;
	border: 3px solid;
	border-color: #4cd9c0;
	border-radius: 0;
}

.order-section {
	background-color: #ff8989;
	color: #ffffff;
	font-size: 18px;
	padding: 15px 50px 15px 50px;
	font-weight: lighter;
	text-transform: uppercase;
}

.data-section {
	background: #eee;
	text-align: center;
	padding: 50px;
}