.schoolfilter{
	padding: 10px 50px 10px 50px !important;
	background: #EEEEEE !important;
	border-top: 4px solid;
	border-color: #526e82;
}

#fritext{
	padding: 7px 15px 7px 15px !important;
	border: none;
	border: 2px solid; 
	border-color: #ffffff;
}

#fritext:focus{
	outline: none; 
	border-color: #ff8989;
}

.checkbox{
	margin-left: 30px;
	color: #555555;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif !important;
}

.schoolListElement {
	text-align: left;
	padding: 15px 50px 15px 50px;
}

.right-align {
	text-align: right;
}

.odd {
  background-color: white;
}
.even {
  background-color: #ebebeb;
}

.schoolfilter{
	background: #FFFFFF;
	padding: 15px 0 15px 0;
}

a.list-school-name{
	font-size: 16px;
}

a.list-school-name:hover{
	font-size: 16px;
	color: #ff8989;
	text-decoration: none;
}

a.list-school-name i.fa{
	color: #ff8989;
}

.button-section{
	padding: 20px 50px 20px 50px;
	height: 85px;
	background: #ccf5ee;
}

button.compare-button-small{
	text-transform: uppercase;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif !important;
	font-weight: lighter;
	background: #526e82;
	color: #FFFFFF;
	border-color: #3b5060;
	margin-top: -35px;
	margin-right: 60px;
}

button.compare-button-small:hover{
	background: #3b5060;
	color: #EEEEEE;
	border-color: #3b5060;
}

button.compare-button-small[disabled=disabled], button.compare-button-small:disabled {
   background: #b2b2b2;
   color: #dddddd;
}

button.compare-button{
	text-transform: uppercase;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif !important;
	font-weight: lighter;
	background: #526e82;
	color: #FFFFFF;
	border-color: #3b5060;
}

button.compare-button:hover{
	background: #3b5060;
	color: #EEEEEE;
	border-color: #3b5060;
}

button.compare-button[disabled=disabled], button.compare-button:disabled {
   background: #b2b2b2;
   color: #dddddd;
}

