<div>
	<section>
		<div class="row" id="compareHeader">
			<div ng-repeat="school in selectedSchools">
				<div class="col-md-3">
					<h2 class="school-name-compare"><a href="#/{{school.Skola}}">{{school.Skola}}</a></h2>
					<p class="school-address-compare"><i class="fa fa-map-marker"></i> {{school.Adress}}</p>
		            <a href="{{school.Url}}" class="school-website-compare"><i class="fa fa-globe"></i> Besök {{school.Skola}}s hemsida</a>
		        
					<div class="nrBox">
			            <p class="large-number">{{school.From}} - {{school.To}}</p>
			            <p class="number-description">Årskurs</p>
			        </div>
			        <div class="nrBox">
			            <p class="large-number">{{school.numOfStudents}}</p>
			            <p class="number-description">elever</p>
			        </div>
			        <div class="nrBox">
			            <p class="large-number">{{school.studentsPerTeacher}}</p>
			            <p class="number-description">elever / lärare</p>
			        </div>
		        </div>
  			</div>
		</div>

		<div class="data-explanation row">
			<div class="col-lg-12">
				<h2>Resultat från elevenkäter</h2>
				<p>Nedan presenteras resultatet från en enkätundersökning som Linköpings kommun utfört. Alla skolor där minst 10 elever och minst 50 % av de tillfrågade eleverna besvarat enkäten finns med i redovisningen.</p>
				<p>Eleverna har svarat i en fyrgradig skala från ”Stämmer helt och hållet” till ”Stämmer inte alls”. De fyra svarsalternativen viktas 100 - 66 - 33 - 0. Det innebär att värden över 50 är åt det positiva hållet och värden över 80 är mycket bra. Läs mer om detta <a href="http://www.linkoping.se/sv/Skola-barnomsorg/Grundskolor/Kvalitetsuppfoljning/" class="red">här</a>.</p>
				<div id="color-expl"></div>
			</div>
		</div>

		<div class="darker-data-section">
			<h3>Lärare</h3>
			<div id="teacher-data" class="row">
				
			</div>
		</div>

		<div class="lighter-data-section">
			<h3>Trygghet</h3>
			<div id="safety-data" class="row">
			
			</div>
		</div>

		
		<div class="darker-data-section">
			<h3>Arbetsmiljö</h3>
			<div id="study-data" class="row">
				
			</div>
		</div>
		
		<div class="lighter-data-section">
			<h3>Mat</h3>
			<div id="food-data" class="row">

			</div>
		</div>

		<div id="compare-data">

		</div>
	</section>
</div>


