<div>
	<section>
		<div class="row" id="compareHeader">
		</div>

		<div class="darker-data-section">
			<h3>Lärare</h3>
			<div id="teacher-data" class="row">
				
			</div>
		</div>

		<div class="lighter-data-section">
			<h3>Trygghet</h3>
			<div id="safety-data" class="row">
			
			</div>
		</div>

		
		<div class="darker-data-section">
			<h3>Arbetsmiljö</h3>
			<div id="study-data" class="row">
				
			</div>
		</div>
		
		<div class="lighter-data-section">
			<h3>Mat</h3>
			<div id="food-data" class="row">

			</div>
		</div>

		<div id="compare-data">

		</div>
	</section>
</div>


