<div class = "container">
<div ng-repeat="school in schools | filter: searchSchool">
<span ng-class-odd="'odd'" ng-class-even="'even'">
  <div class = "row schoolListElement">

  
    <div class="col-sm-3"> <!-- skolnamn -->
    
        <b><a href="#/{{school.Skola}}">{{school.Skola}}</a></b></br>
        {{school.Adress}}

    
    </div><!-- ./col-sm-3 -->

    <div class="col-sm-3"> <!-- årskurs -->
      
        {{school.From}} - {{school.To}} 
  
    </div><!-- ./col-sm-3 årskurs -->

    <div class="col-sm-3" data-ng-init="getDistance(school.Lat, school.Lon, school.Skola)"> <!-- avstånd-->
        
      {{distances[$index]}}
  
    </div><!-- ./col-sm-3 avstånd -->

    <div class="col-sm-3" data-ng-init="getTravelTime(school.Lat)">  <!-- restid -->
 {{travelTimeM}}

    </div><!-- ./col-sm-3 -->

    
</div> <!-- row -->
</span>
</div> <!-- ng-repeat -->
</div>



