<div ng-repeat="school in schools | filter: searchSchool">
  <div class = "row schoolListElement">
    <div class="col-sm-3"> <!-- skolnamn -->
    
        <b><a href="#/{{school.Skola}}">{{school.Skola}}</a></b></br>
        {{school.Adress}}

    
    </div><!-- ./col-sm-3 -->

    <div class="col-sm-3"> <!-- årskurs -->
      
        {{school.From}} - {{school.To}} 
  
    </div><!-- ./col-sm-3 -->

    <div class="col-sm-3"> <!-- avstånd-->
        <script>
            var dist = mapFunction.getDistance(58.41075642311165, 15.621438785552755);
        </script>
        
    </div><!-- ./col-sm-3 -->

    <div class="col-sm-3">
    </div><!-- ./col-sm-3 -->

    

</div> <!-- row -->
</div> <!-- ng-repeat -->



