<!--<input type="checkbox" ng-click="includeType('0')"/> 0</br/>
<input type="checkbox" ng-click="includeType('1')"/> 1</br/>
<input type="checkbox" ng-click="includeType('2')"/> 2</br/>



Filter dump: {{schoolTypes}}-->


<div ng-repeat="school in schools | filter: searchSchool | filter: typeFilter">

    <div ng-class-odd="'odd'" ng-class-even="'even'"> <!-- olika css för jämn resp. udda rad -->
        <div class = "row schoolListElement">


            <div class="col-sm-2"> <!-- skolnamn -->
            
                <b><a href="#/{{school.Skola}}">{{school.Skola}}</a></b></br>
                {{school.Adress}} </br>

            
            </div><!-- ./col-sm- skolnamn -->

            <div class="col-sm-2"> <!-- årskurs -->
              
                {{school.From}} - {{school.To}} 
          
            </div><!-- ./col-sm-3 årskurs -->

            <div class="col-sm-2">  <!-- numOfStudents -->
              {{school.numOfStudents}}

            </div><!-- ./col-sm-3  numOfStudents-->

            <div class="col-sm-2" data-ng-init="getDistance(school.Lat, school.Lon, school.Skola)"> <!-- avstånd-->

                <!--<div ng-if="distances[$index] < 1000">{{distances[$index] | number:0}} m</div>-->

                <div ng-if="distances[$index] > 1000">{{distances[$index]/1000 | number:0}} km</div>  
              
          
            </div><!-- ./col-sm-3 avstånd -->

            <div class="col-sm-2" data-ng-init="getTravelTime(school.Lat)">  <!-- restid -->
                {{travelTimeM}}

            </div><!-- ./col-sm-3 -->

            

            <div class="col-sm-2">  <!-- jämföra -->
                <input id="{{school.Skola}}" type="checkbox" value="{{school.Skola}}" ng-checked="selection.indexOf(school.Skola) > -1" ng-click="toggleSelection(school.Skola)" />

            </div><!-- ./col-sm-3 -->

        
        </div> <!-- row -->
    </div> <!-- jämn-udda rad -->
</div> <!-- ng-repeat -->

<button ng-click="compare(selection)">Jämför skolor</button>



