<div>
    <section>
       	<br/>

        Namn: {{selectedSchool.Skola}}
        <br>
        Adress: {{selectedSchool.Adress}}
        <br>
        Antal elever: {{selectedSchool.numOfStudents}}
        <br>

        <div class="row darker-data-row">
            <h3>Lärare</h3>
            <div id="teacher-data">
            </div>
        </div>
        <div class="row lighter-data-row">
            <h3>Tryghet</h3>
            <div id="safety-data">
            </div>
        </div>        
        <div class="row darker-data-row">
            <h3>Arbetsmiljö</h3>
            <div id="study-data">
            </div>
        </div>
        <div class="row lighter-data-row">
            <h3>Skolgård och mat</h3>
            <div id="food-data">
            </div>
        </div>

    </section>
</div>


