<!--<script language="javascript">
	console.log("hej");
    var ele = document.getElementById("mapAndOrderDiv");
    ele.style.display == "none";

    ele.style.display = "block";
</script>-->

<div>
    <section>

        <div class="school-info row">

            <div class="col-md-3">
                <h2 class="school-name">{{selectedSchool.Skola}}</h2>
                <p class="school-address"><i class="fa fa-map-marker"></i> {{selectedSchool.Adress}}</p>
                <a href="{{selectedSchool.Url}}" class="school-website"><i class="fa fa-globe"></i> Besök {{selectedSchool.Skola}}s hemsida</a>
            </div>
            <div class="col-md-3">
                <p class="large-number">{{selectedSchool.From}} - {{selectedSchool.To}}</p>
                <p class="number-description">Årskurs</p>
            </div>
            <div class="col-md-3">
                <p class="large-number">{{selectedSchool.numOfStudents}}</p>
                <p class="number-description">elever</p>
            </div>
            <div class="col-md-3">
                <p class="large-number">{{selectedSchool.studentsPerTeacher}}</p>
                <p class="number-description">elever / lärare</p>
            </div>
            
        </div>
       	

        <div class="row darker-data-row">
            <h3>Lärare</h3>
            <div id="teacher-data">
            </div>
        </div>
        <div class="row lighter-data-row">
            <h3>Trygghet</h3>
            <div id="safety-data">
            </div>
        </div>        
        <div class="row darker-data-row">
            <h3>Arbetsmiljö</h3>
            <div id="study-data">
            </div>
        </div>
        <div class="row lighter-data-row">
            <h3>Skolgård och mat</h3>
            <div id="food-data">
            </div>
        </div>

    </section>
</div>


